{% extends "blog/base.html" %}
{% block content %}
<img src="/media/asym_about.jpg" class="img-fluid" alt="Responsive image">
<div>
    <h2><strong>About</strong></h2>
    <p>
        Members of the Dyslexia Data Consortium include Christian Beaulieu,
        Virginia Berninger, Xavier Castellanos, Christine Chiarello, Tim Conway,
        Laurie Cutting, Ghislaine Dehaene-Lambertz, Guinevere Eden, Richard Frye,
        Deborah Giaschi, Jeffrey Gilger, Fumiko Hoeft, Michelle Kibby, Katharina van Krigstein,
        Martin Kronbichler, Christiana Leonard, Michael Milham, Timothy Odegard, Russell Poldrack,
        Kenneth Pugh, Todd Richards, Nancy Rollins, Keith Schneider, Joel Talcott, and Brian Wandell.
    </p>
    <p>
        This work has been supported by the NIH/NICHD (5R01HD069374).
    </p>
</div>
{% endblock content %}