{% extends "blog/base.html" %}
{% block content %}
<img src="/media/MetaAnalysis_contact.jpg" class="img-fluid" alt="Responsive image">

<div style="position:relative;top:20px">
    <h2><strong>Contact</strong></h2>
    <p> Please contact Mark A. Eckert ( eckert@musc.edu ) to identify collaborators for your project idea(s) and/or
        access data.</p>
</div>
<address class="left-bot">
    <strong>Mark A. Eckert</strong><br>
    Hearing Research Program<br>
    Department of Otolaryngology – Head and Neck Surgery<br>
    Medical University of South Carolina<br>
    Phone: (864)123-456-7890<br>
    Email: eckert@musc.edu
</address>
{% endblock content %}