{% extends "blog/base.html" %}
{% block content %}
<img src="/media/home.png" style="width:100%;height:250px" class="img-fluid" alt="Responsive image">

<div style="position:relative;top:20px">
    <h2><strong>Home</strong></h2>
    <p> Resources to enhance our understanding of reading disability</p>
</div>
<div>
    <br>
    <h2><strong>Outcomes</strong></h2>
    <div>
        <div>
            <h4><strong>Data Sharing</strong></h4>
            <p>We have developed software to make it easier to share de-identified data. Please download our
                <a href="https://www.nitrc.org/projects/de-identification/">De-Identification Toolkit</a> from the NITRC
                repository.</p>
            <p><a class="ac" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4585207/">Song, X., Wang, J., Wang, A., Meng, Q.,
                Prescott, C., Tsu, L., Eckert, M.A. (2015). DeID–a data sharing tool for neuroimaging studies. Frontiers in Neuroscience, 9.</a>
            </p>
        </div>
        <div>
            <h4><strong>Outliers</strong></h4>
            <p>Unusual and noisy images can negatively affect voxel-based group analyses. A structural covariance approach
                that is packaged with <a href="http://www.neuro.uni-jena.de/vbm/download/">VBM8/CAT12</a> toolboxes can help
                identify outlier images. In the manuscript below, we describe the identification of a case with Bilateral Perisylvian
                Syndrome with this structural covariance approach.</p>
            <p><a class="ac" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4776332/">Eckert, M.A., Berninger, V.W., Hoeft, F.,
                Vaden, K.I., Dyslexia Data Consortium. (2016). A case of Bilateral Perisylvian Syndrome with reading disability.
                Cortex, 76: 121-124. doi: 10.1016/j.cortex.2016.01.004.</a></p>
        </div>
        <div>
            <h4><strong>Missing Multi-site Data</strong></h4>
            <p>Missing data can be problematic for multi-site studies. Missing data can be imputed to enhance inference.
                In the manuscript below, we used multiple imputation to deal with completely missing data for a variable from
                one research site. We multiply imputed Verbal IQ across research sites and in this study showed that gray
                matter findings replicate in dyslexia studies when cases with low brain volume and low Verbal IQ are included
                in the dyslexia sample.</p>
            <p><a class="ac" href="http://www.eneuro.org/content/early/2016/01/08/ENEURO.0103-15.2015">Eckert, M.A., Berninger,
                V.W., Vaden, K.I., Gebregziabher, M., Tsu, L., for Dyslexia Data Consortium. (2016). Gray matter features of
                reading disability: A combined meta-analytic and direct data analysis approach. eNeuro, 3(1), doi:
                10.1523/ENEURO.0103-15.2015.</a></p>
            <p>Missing data can also limit identification of unique behavioral profiles in heterogeneous multi-site data
                sets when a variable is missing that is critical for differentiating profiles. In the manuscript below, we
                tested different approaches for dealing with missing data to statistically estimate the missing data using a
                synthetic data set where we knew the reading profile for each case and then demonstrated the effectiveness of the
                methods with the real data (726 subjects).</p>
            <p><a class="ac" href="https://www.frontiersin.org/articles/10.3389/fpsyg.2018.00644/full">Eckert, M. A., Vaden Jr, K.
                I., Gebregziabher, M., &amp; Dyslexia Data Consortium. (2018). Reading Profiles in Multi-site Data with
                Missingness. Frontiers in Psychology, 9, 644.</a></p>
        </div>
        <div>
            <h4><strong>Case-Control Advantage for Multi-site Studies</strong></h4>
            <p>Research sites can have images from different scanners and different sequence parameters. This image
                acquisition variance, as well as difference is sampling, can increase noise. We used a case-control design to show
                increased sensitivity for observing brain structure differences between cases with different patterns of reading
                disability and controls. There were sub-cortical white matter findings across children with relatively a
                specific phonological decoding deficit, a relatively reading comprehension deficit, and generally poor
                readers. We would not have observed these significant differences with a multiple comparison corrected threshold
                using a standard group difference design.</p>
            <p><a class="ac" href="https://www.nature.com/articles/s41598-017-05691-5">Eckert, M.A., Vaden, K.I., Maxwell, A.B.,
                Cute, S.L., Gebregziabher, M., &amp; Berninger, V.W. (2017). Common Brain Structure Findings Across Children
                with Varied Reading Disability Profiles. Scientific Reports, 7(1), 6009.</a></p>
        </div>
    </div>
</div>
{% endblock content %}