{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block main %}
    <div class="content-section">
        <form action="#" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Log In</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                {% url "mezzanine_password_reset" as password_reset_url %}
                {% url "profile_update" as profile_update_url %}
                <p>Forget your password?<a class="ml-2" href="{{ password_reset_url }}?next={{ profile_update_url }}">reset it now</a></p>

                <p>Need an account? <a class="ml-2" href="{% url 'signup' %}">Sign up</a> now</p>
            </small>
        </div>
    </div>
{% endblock  %}